
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav {
    background-color: greenyellow;
    height: 80px;
    width: 100%;
}

label {
    text-align: left;
    float: left;
}

label.logo {
    color: black;
    line-height: 50px;
    font-size: 60px;
    padding: 0 10px;
    font-weight: bold;
}

label img {
    margin-top: 7px;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: black;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    font-weight: bold;
}

a.active, a:hover {
    background-color: lightgreen;
    transition: .5s;
}

.navbar {
    position: sticky;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: lightgreen;
    min-width: 120px;
}

.dropdown-content a {
    color: black;
    padding: 2px;
    text-decoration: none;
    display: block;
    text-align: center;
    line-height: 40px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display:block;
}







.fa-brands fa-rocketchat {
color: black;
font-size: 18px;
padding: 7px 13px;
border-radius: 3px;
font-weight: bold;
}

.main-profile img{
    border-radius: 100px;
    height: 100px;
    width: 100px;
    margin: 20px;
    margin-left: 40%;

}
.ram{
    font-size: 1.5rem;
}
.grey{
    color: grey;
}
.profile{
    height: 500px;
    width: 500px;
    background-color: antiquewhite;
    margin-left: 500px;
    box-shadow: #f1f1f1;
    
}
.center{
    text-align: center;
}
.bold{
    text-align: center;
    
}
.bold h3{
    font-weight: bold;

}










h1.follow {
    text-align: center;
    font-size: 35px;
    color: white;
}

footer {
    background-color: #111;
}

.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.socialIcons a:hover i {
    color: #111;
    transition: 0.5s;
}

.socialIcons a:hover i {
    color: white;
    transition: 0.5s;
}

.footerNav {
    margin: 30px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3cm;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover {
    opacity: 1;
}

.footerBottom {
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.footerBottom  {
    color: white;
    text-align:center;
}

.footerBottom p{
    color: white;
    text-align: center;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

.designer a:visited{
    color:white;
}
@media(max-width:700px) {
    .footerNav ul {
    flex-direction: column;
}

.footerNav ul li {
    width: 100%;
    text-align: center;
    margin: 10px;
}
}


.designer a:link{
    color:white;
}
